<%- include('../includes/encabezado.ejs')%>
</head>

<body>
    <%- include('../includes/navegacion.ejs')%>

    <main>
        <form class="forma-producto" action="/admin/producto" method="POST">
            <div class="form-control">
            <label for="titulo" >Titulo</label>
            <input type="text" name="titulo" id="titulo">
            </div>
            <div class="form-control">
            <label for="urlImagen" >URL Imagen</label>
            <input type="text" name="urlImagen" id="urlImagen">
            </div>
            <div class="form-control">
            <label for="precio" >Precio</label>
            <input type="number" name="precio" id="precio" step="0.01">
            </div>
            <div class="form-control">
            <label for="descripcion" >Descripcion</label>
            <textarea name="descripcion" id="descripcion" rows="5"></textarea>
            </div>
            <button class="btn" type="submit">Agregar Producto</button>
            </form>
    </main>
<%- include('../includes/fin.ejs')%>